@{
    ViewBag.RenderSubcribeForm = false;
}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />

        <!-- **Favicon** -->
        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <!-- **CSS - stylesheets** -->
        <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/responsive.css" rel="stylesheet" type="text/css" media="all" />
        @await RenderSectionAsync("Styles", required: false)
        <!-- **Additional - stylesheets** -->
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
        <script type="text/javascript" src="/js/spa.custom.js"></script>
        @await RenderSectionAsync("Scripts", required: false)

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    </head>

    <body class="home">
        <!-- **Header** -->
        <div id="header">
            <div class="container">
                <!-- **Top-Menu** -->
                <div id="top-menu">
                    <ul class="menu">
                        <li class='@(ViewBag.CurrentPageName == "Index" ? "current_page_item" : string.Empty)'>
                            <a asp-action="Index" asp-controller="Home" title="">
                                <span>Home page</span>
                                Trang chủ
                            </a>     
                        </li>                                                   
                        <li class='@(ViewBag.CurrentPageName == "AboutUs" ? "current_page_item" : string.Empty)'>
                            <a asp-action="AboutUs" asp-controller="Home" title="">
                                <span>About us</span>
                                Về chúng tôi
                            </a>
                        </li>
                        <li class='@(ViewBag.CurrentPageName == "TeamMembers" ? "current_page_item" : string.Empty)'>
                            <a asp-action="TeamMembers" asp-controller="Home" title="">
                                <span>Members</span>
                                Đội ngũ
                            </a>
                        </li>
                        <li class='@(ViewBag.CurrentPageName == "Courses" ? "current_page_item" : string.Empty)'>
                            <a asp-action="CourseList" asp-controller="Home" title="">
                                <span>Education</span>
                                Đào tạo
                            </a>
                        </li>
                        <li class='@(ViewBag.CurrentPageName == "Services" ? "current_page_item" : string.Empty)'>
                            <a asp-action="BusinessServiceList" asp-controller="Home" title="">
                                <span>Services</span>
                                Dịch vụ
                            </a>
                        </li>
                        <li class='@(ViewBag.CurrentPageName == "Products" ? "current_page_item" : string.Empty)'>
                            <a asp-action="ProductList" asp-controller="Home" title="">
                                <span>Products</span>
                                Sản phẩm
                            </a>
                        </li>
                        <li class='@(ViewBag.CurrentPageName == "Blogs" ? "current_page_item" : string.Empty)'>
                            <a asp-action="PostList" asp-controller="Home" asp-route-page="1" title="">
                                <span>Posts</span>
                                Bài viết
                            </a>
                        </li>
                        <li class='@(ViewBag.CurrentPageName == "Contact" ? "current_page_item" : string.Empty)'>
                            <a asp-action="Contact" asp-controller="Home" title="">
                                <span>Contact</span>
                                Liên hệ
                            </a>
                        </li>
                    </ul>        	
                </div><!-- **Top-Menu - End** -->
                
                <!-- **Logo** -->
                @await Component.InvokeAsync("HomePagesLogoAndName")
                <!-- **Logo - End** -->
                
                <!-- **Searchform** -->
                @* <form action="#" id="searchform" method="get">
                    <fieldset>
                        <input name="Search" type="text" onblur="this.value=(this.value=='') ? 'Enter Keyword' : this.value;" onfocus="this.value=(this.value=='Enter Keyword') ? '' : this.value;" value="Enter Keyword" alt="Search our site" class="text_input" />
                        <input name="submit" type="submit" class="button" value="" />
                    </fieldset>
                </form> *@
                <!-- **Searchform - End** -->
                
            </div>
        </div><!-- **Header - End** -->
        @RenderSection("Breadcrumbs", required: false)
        @RenderBody()
    
        @if (ViewBag.HideFooter != true)
        {
            @await Component.InvokeAsync("HomePagesFooter");
        }
    </body>
</html>
