@model AboutUsIntroductionViewModel
@{
    ViewBag.PageTitle = "Giới thiệu";
    ViewBag.CurrentPageName = "AboutUs";
    ViewBag.RenderSubcribeForm = true;
    Layout = "_Layout";
}
    
<!-- **Main Container** -->
<div class="main-container">

    <!-- **Content Full Width** -->
    <div class="content content-full-width">
        <!-- Opening message -->
        <h1 class="title">
            <span>@Html.DisplayNameFor(model => model.MainQuoteContent)</span>
        </h1>

        <div class="column one-third">
            <img src="@Model.MainPhotoUrl"
                style="background: rgb(229, 222, 176); border: 1px solid #cfc89d; padding: 5px; margin: 10px 0px 10px">
        </div>
        
        <div class="column two-third last">
            <blockquote style="font-weight: bold">
                @foreach (string paragraph in Model.MainQuoteContent.Split("\n"))
                {
                    <p>@paragraph</p>
                }
            </blockquote>
        </div>
        <div class="hr_invisible"></div>
        <!-- END Opening message -->

        <!-- About us -->
        <div class="column one-half"> 
            <h2 class="title">
                <span>@Html.DisplayNameFor(model => model.AboutUsContent)</span>
            </h2>
            @foreach (string paragraph in Model.AboutUsContent.Split("\n"))
            {
                <p>@paragraph</p>
            }
        </div>
        <!-- END About us -->

        <!-- Why choose us -->
        <div class="column one-half last"> 
            <h2 class="title">
                <span>
                    @Html.DisplayNameFor(model => model.WhyChooseUsContent)
                </span>
            </h2>
            
            @foreach (string paragraph in Model.WhyChooseUsContent.Split("\n"))
            {
                <p>@paragraph</p>
            }
        </div>
        <div class="hr_invisible"></div>
        <!-- END Why choose us -->

        <!-- Our difference -->
        <div class="column one-half"> 
            <h3 class="title">
                <span>
                    @Html.DisplayNameFor(model => model.OurDifferenceContent)
                </span>
            </h3>
            
            @foreach (string paragraph in Model.OurDifferenceContent.Split("\n"))
            {
                <p>@paragraph</p>
            }
        </div>
        <!-- END Our difference -->
        
        <!-- Our culture -->
        <div class="column one-half last"> 
            <h3 class="title">
                <span>
                    @Html.DisplayNameFor(model => model.OurCultureContent)
                </span>
            </h3>
            @foreach (string paragraph in Model.OurCultureContent.Split("\n"))
            {
                <p>@paragraph</p>
            }
        </div>
        <!-- END Our curture -->
        <div class="hr_invisible"></div>
    </div> <!-- **Content Full Width - End** -->
</div><!-- **Main Container - End** -->

@section Breadcrumbs {
    <!-- **Breadcrumb** -->
    <div class="breadcrumb">
        <div class="container">
            <a href="#" title="">Trang chủ / </a>
            <span class="current-crumb">Giới thiệu</span>
        </div>  <!-- **Breadcrumb - End** -->           
    </div>
}