@model HomePageViewModel
@{
    ViewBag.PageTitle = "Trang chủ";
    Layout = "_Layout";
}

<!-- ** Home Slider** -->
<div id="home-slider">
    <div class="slider-container">
        <div class="slider-wrapper theme-default">    
            <div id="slider" class="nivoSlider">
                @for (int i = 0; i < Model.HomePageSliderItems.Items.Count; i++)
                {
                    HomePageSliderItemViewModel sliderItem;
                    sliderItem = Model.HomePageSliderItems.Items[i];
                    <img src="@sliderItem.PhotoUrl" alt="@sliderItem.Title"
                         title='@(i == 0 ? "#htmlcaption1" : string.Empty)' />
                }
            </div>
            <div id="htmlcaption1" class="nivo-html-caption">
                <h2>Trung tâm Khoa học Đào tạo<br/>và Thẩm mỹ Quốc Gia</h2>
                <h3>Sứ mệnh - Trách nhiệm - Tình thương</h3>
            </div>
        </div>
    </div>
</div><!-- **Home Slider - End** -->

<!-- ** Main** -->
<div id="main">
    <!-- **Main Container** -->
    <div class="main-container">
        <!-- **Content Full Width** -->
        <div class="content content-full-width">
            <!-- **Introduction items** -->
            <h1 class="title">
                <a asp-action="CourseList" asp-controller="Home"
                        style="color: unset">
                    <span>Giới thiệu</span>
                </a>
            </h1>
            
            @for (int i = 0; i < Model.IntroductionItems.Items.Count; i++)
            {
                IntroductionItemViewModel introductionItem = Model.IntroductionItems.Items[i];
                bool isLastColumn = i == Model.IntroductionItems.Items.Count - 1;
                string thumbnailUrl = introductionItem.ThumbnailUrl
                    ?? "/images/front-pages/introduction-items/default.jpg";

                <div class='column one-fourth @(isLastColumn ? "last" : string.Empty)'>
                    <div class="content-center-aligned">
                        <a href='@(Url.Action("IntroductionList", "Home") + $"#{introductionItem.Id}")'>
                            <span class="arctext-no-curve" data-radius="200">
                                @Html.Raw(introductionItem.Name.Replace(Environment.NewLine, "<br/>"))
                            </span>
                            <span class="rounded-img border">
                                <img src='@thumbnailUrl' alt="" title="" />
                            </span>
                        </a>
                        <p>
                            @introductionItem.Summary
                        </p>
                    </div>
                </div>
            }
            <!-- **Course introduction items - End** -->
            <div class="hr_invisible"></div>
            
            <h1 class="title">
                <a asp-action="CourseList" asp-controller="Home"
                        style="color: unset">
                    <span>Khoá học</span>
                </a>
            </h1>
            <!-- **Course list** -->
            @for (int i = 0; i < Model.Courses.Items.Count; i++)
            {
                CourseBasicViewModel course = Model.Courses.Items[i];
                string columnClassName = "column one-half";
                if (i % 2 != 0)
                {
                    columnClassName += " last";
                }
                string thumbnailUrl = course.ThumbnailUrl
                    ?? "/images/front-pages/courses/default.jpg";

                <div class="@columnClassName" style="margin-bottom: 20px;">
                    <div class="box-content">
                        <a href='@(Url.Action("CourseList", "Home") + $"#{course.Id}")'
                                title="@course.Name">
                            <img src="@thumbnailUrl" alt="" title="" class="alignleft"
                                style="width: 200px; height: 200px; object-fit: cover; object-position: 50% 50%;"/>
                        </a>
                        <h2>@course.Name</h2>
                        <p>
                            @course.Summary
                        </p>
                        <a href='@(Url.Action("CourseList", "Home") + $"#{course.Id}")'
                                title="Chi tiết" class="tooltip-top readmore"></a> 
                    </div>
                </div>
            }
            <!-- **Course list - End** -->

            <div class="hr_invisible"></div>

            <!-- **Service list** -->
            <h1 class="title">
                <a asp-action="BusinessServiceList" asp-controller="Home" style="color: unset">
                    <span>@Html.DisplayNameFor(model => model.BusinessServices)</span>
                </a>
            </h1>
            @for (int i = 0; i < Model.BusinessServices.Items.Count; i++)
            {
                BusinessServiceBasicViewModel service = Model.BusinessServices.Items[i];
                string columnClassName = "column one-half";
                if (i % 2 != 0)
                {
                    columnClassName += " last";
                }
                string thumbnailUrl = service.ThumbnailUrl
                    ?? "/images/front-pages/services/default.jpg";

                <div class="@columnClassName" style="margin-bottom: 20px;">
                    <div class="box-content">
                        <a href='@(Url.Action("BusinessServiceList", "Home") + $"#{service.Id}")'
                                title="@service.Name">
                            <img src="@thumbnailUrl" alt="" title="" class="alignleft"
                                style="width: 200px; height: 200px; object-fit: cover; object-position: 50% 50%;"/>
                        </a>
                        <h2>@service.Name</h2>
                        <p>
                            @service.Summary
                        </p>
                        <a href='@(Url.Action("BusinessServiceList", "Home") + $"#{service.Id}")'
                                title="Chi tiết" class="tooltip-top readmore"></a> 
                    </div>
                </div>
            }
            <!-- **Service list - End** -->
            
            <div class="hr_invisible"></div>
            
            <!-- **Product list** -->
            <h1 class="title">
                <a asp-action="ProductList" asp-controller="Home" style="color: unset">
                    <span>@Html.DisplayNameFor(model => model.Products)</span>
                </a>
            </h1>
            @for (int i = 0; i < Model.Products.Items.Count; i++)
            {
                ProductBasicViewModel product = Model.Products.Items[i];
                string columnClassName = "column one-half";
                if (i % 2 != 0)
                {
                    columnClassName += " last";
                }
                string thumbnailUrl = product.ThumbnailUrl
                    ?? "/images/front-pages/products/default.jpg";

                <div class="@columnClassName" style="margin-bottom: 20px;">
                    <div class="box-content">
                        <a href='@(Url.Action("ProductList", "Home") + $"#{product.Id}")'
                                title="@product.Name">
                            <img src="@thumbnailUrl" alt="" title="" class="alignleft"
                                style="width: 200px; height: 200px; object-fit: cover; object-position: 50% 50%;"/>
                        </a>
                        <h2>@product.Name</h2>
                        <p>
                            @product.Summary
                        </p>
                        <a href='@(Url.Action("ProductList", "Home") + $"#{product.Id}")'
                                title="Chi tiết" class="tooltip-top readmore"></a> 
                    </div>
                </div>
            }
            <div class="hr_invisible"></div>
            <!-- **Product list - End** -->
            
        </div> <!-- **Content Full Width - End** -->
        
    </div><!-- **Main Container - End** -->
</div>

@section Styles {
    <link href="/css/nivo-slider.css" rel="stylesheet"  type="text/css" media="screen"/>
}

@section Scripts {
    <!-- **jQuery** -->
    <script type="text/javascript" src="/js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="/js/jquery.arctext.js"></script>
    <script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("span.arctext").each(function(){
                $(this).arctext({radius: $(this).attr('data-radius')});
            });
        });
    </script>

    <script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="/js/jquery.tipTip.minified.js"></script>
}
