@model TeamMemberListViewModel
@{
    ViewBag.PageTitle = "Đội ngũ";
    Layout = "_Layout";
}

<!-- **Main Container** -->
<div class="main-container">

    <!-- **Content Full Width** -->
    <div class="content content-full-width"> 
        <h1 class="title" style="text-align: center;">
            <span>Thành viên</span>
        </h1>

        @for (int i = 0; i < Model.TeamMembers.Count; i++)
        {
            TeamMemberViewModel teamMember = Model.TeamMembers[i];

            <div class="column one-fourth">
                <div class="team">                    
                    <a href="" title="" class="rounded-img border alignleft">
                        <img src="@teamMember.PhotoUrl" alt="@teamMember.FullName" title="" />
                    </a>
                </div>
            </div>
            <div class='column one-fourth @(i % 2 != 0 ? "last" : string.Empty)'>
                <div class="team">           
                    <h1>@teamMember.FullName</h1>
                    <strong>@teamMember.RoleName</strong>
                    <br/><br/>
                    <span>@teamMember.Description</span>
                </div>
            </div>
            @if (i % 2 != 0 || i == Model.TeamMembers.Count - 1)
            {
                <div class="hr_invisible"></div>
            }
        }
        
        <h1 class="title" style="text-align: center;">
            <span>Chứng nhận của chúng tôi</span>
        </h1>
        <div class="clearfix"></div>
        <br/>
        <div style="margin: 0 20px 0 10px; text-align: center;">
            @foreach (BusinessCertificateViewModel certificate in Model.BusinessCertificates)
            {
                <a href="@certificate.PhotoUrl" class="dislay: inline-block">
                    <img src="@certificate.PhotoUrl"
                        style="background: rgb(229, 222, 176); border: 1px solid #cfc89d; padding: 5px; margin: 0 auto;  max-width: 250px;">
                </a><br/>
            }
        </div>
    </div> <!-- **Content Full Width - End** -->
    <div class="hr_invisible"></div>

</div><!-- **Main Container - End** -->

@section Breadcrumbs {
    <!-- **Breadcrumb** -->
    <div class="breadcrumb">
        <div class="container">
            <a href="#" title="">Trang chủ / </a>
            <span class="current-crumb">@ViewBag.PageTitle</span>
        </div>  <!-- **Breadcrumb - End** -->           
    </div>
}