@model DashboardViewModel
@{
    Layout = "_AdminLayout";
    ViewBag.CurrentPageName = "Dashboard";
}

<div class="container-fluid d-flex flex-column">
    <div class="row g-4 p-3 flex-grow-1">
        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="block statistics d-flex rounded rounded-3 p-3 border-0 bg-primary text-white border-primary h-100 justify-content-between">
                <i class="bi bi-eye-fill text-primary bg-white bg-opacity-50"></i>
                <div class="description d-flex">
                    <div class="header text-white opacity-50 text-end w-100">
                        @Html.DisplayNameFor(model => model.AccessCount).ToUpper()
                    </div>
                    <h2 class="py-0 mb-0 text-end">@Html.DisplayFor(model => model.AccessCount)</h2>
                </div>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="block statistics d-flex rounded rounded-3 p-3 h-100 justify-content-between">
                <i class="bi bi-person-arms-up text-success bg-success-subtle"></i>
                <div class="description d-flex">
                    <div class="header opacity-50 text-end w-100">
                        @Html.DisplayNameFor(model => model.GuessCount).ToUpper()
                    </div>
                    <h2 class="py-0 mb-0 text-end">@Html.DisplayFor(model => model.GuessCount)</h2>
                </div>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="block statistics d-flex rounded rounded-3 p-3 h-100 justify-content-between">
                <i class="bi bi-question-circle-fill text-warning bg-warning-subtle"></i>
                <div class="description d-flex">
                    <div class="header opacity-50 text-end w-100">
                        @Html.DisplayNameFor(model => model.EnquiryCount).ToUpper()
                    </div>
                    <h2 class="py-0 mb-0 text-end">@Html.DisplayFor(model => model.EnquiryCount)</h2>
                </div>
            </div>
        </div>
        <div class="col col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="block statistics d-flex rounded rounded-3 p-3 h-100 justify-content-between">
                <i class="bi bi-person-circle text-danger bg-danger-subtle"></i>
                <div class="description d-flex">
                    <div class="header opacity-50 text-end w-100">
                        @Html.DisplayNameFor(model => model.UserCount).ToUpper()
                    </div>
                    <h2 class="py-0 mb-0 text-end">@Html.DisplayFor(model => model.UserCount)</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-4 p-3 align-items-stretch">
        <div class="col col-12">
            <div class="block block-chart p-0 d-flex flex-column p-3 overflow-visible"
                    id="block-last-7-days-statistics">
                <div class="header text-primary border-bottom-0 text-center justify-content-center w-100">
                    @("Lưu lượng 7 ngày gần nhất".ToUpper())
                </div>
                @{
                    string[] dateLabels = Model.TrafficStatisticsByDates.Items
                        .Select(td => td.RecordedDate.ToString("dd/M"))
                        .ToArray();
                    int[] dateAccessCountData = Model.TrafficStatisticsByDates.Items
                        .Select(td => td.AccessCount)
                        .ToArray();
                    int[] dateGuessCountData = Model.TrafficStatisticsByDates.Items
                        .Select(td => td.GuessCount)
                        .ToArray();
                }
                <div id="last-7-days-statistics-chart" class="flex-fill h-100"
                        chart-labels='@Json.Serialize(dateLabels)'
                        chart-access-count='@Json.Serialize(dateAccessCountData)'
                        chart-guess-count='@Json.Serialize(dateGuessCountData)'>
                </div>
            </div>
        </div>
        <div class="col col-sm-7 col-12">
            <div class="block block-chart p-3 pb-0 d-flex flex-column align-items-between h-100">
                <div class="header text-primary border-bottom-0 justify-content-center text-center">
                    @("Lưu lượng trung bình 7 ngày gần nhất".ToUpper())
                </div>
                @{
                    string[] hourChartLabels = Model.TrafficStatisticsByHourRanges.Items
                        .Select(th => th.Name)
                        .ToArray();
                    int[] hourChartAccessCounts = Model.TrafficStatisticsByHourRanges.Items
                        .Select(th => th.AccessCount)
                        .ToArray();
                    int[] hourChartGuessCounts = Model.TrafficStatisticsByHourRanges.Items
                        .Select(th => th.GuessCount)
                        .ToArray();
                }
                <div id="hour-range-statistics-chart"
                        class="flex-fill"
                        chart-labels='@Json.Serialize(hourChartLabels)'
                        chart-access-count='@Json.Serialize(hourChartAccessCounts)'
                        chart-guess-count='@Json.Serialize(hourChartGuessCounts)'>
                </div>
            </div>
        </div>
        <div class="col col-sm-5 col-12">
            <div class="block block-chart p-3 pb-0 d-flex flex-column h-100">
                <div class="header text-primary border-bottom-0 justify-content-center text-center">
                    @("Thiết bị".ToUpper())
                </div>
                @{
                    string[] deviceNames = Model.TrafficStatisticsByDevices.Items
                        .Select(d => d.DeviceName)
                        .ToArray();
                    int[] deviceAccessCount = Model.TrafficStatisticsByDevices.Items
                        .Select(d => d.AccessCount)
                        .ToArray();
                }
                <div id="device-statistics-chart"
                        class="h-auto align-self-center"
                        chart-device-names='@Json.Serialize(deviceNames)'
                        chart-access-count='@Json.Serialize(deviceAccessCount)'>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageTitle
{
    Bảng điều khiển
}

@section Styles
{
    <link href="/css/admin/dashboard.css" type="text/css" rel="stylesheet"/>
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/js/admin/dashboard.js"></script>
}

@section Breadcrumb {
    @{
        BreadcrumbViewModel breadcrumbViewModel = new BreadcrumbViewModel
        {
            Items = new List<(string DisplayName, string Url)>
            {
                (DisplayNames.Dashboard, Url.Action("Dashboard", "Admin"))
            }
        };
    }
    <partial name="~/Views/Admin/_Breadcrumb.cshtml" model="@breadcrumbViewModel" model="@breadcrumbViewModel"/>
}